<style>

body{
  margin: 0;
}

<% request.url =~ %r|games/| %>
<% if $'.to_i < 14 %>
.window{
  position: relative;
  background-image: url(<%= asset_path '0407.jpg' %>);
  background-size: 100vw;
  background-repeat: no-repeat;
  width: 100vw;
  height: 45vw;
}
<% elsif $'.to_i < 39%>
.window{
  position: relative;
  background-image: url(<%= asset_path '0403.jpg' %>);
  background-size: 100vw;
  background-repeat: no-repeat;
  width: 100vw;
  height: 45vw;
}
<% elsif $'.to_i < 64 %>
.window{
  position: relative;
  background-image: url(<%= asset_path '0404.jpg' %>);
  background-size: 100vw;
  background-repeat: no-repeat;
  width: 100vw;
  height: 45vw;
}

<% else %>
.window{
  position: relative;
  background-image: url(<%= asset_path '0405.jpg' %>);
  background-size: 100vw;
  background-repeat: no-repeat;
  width: 100vw;
  height: 45vw;
}
<% end %>

 a {
    text-decoration : none;
    color : inherit;
}
a:hover{
  text-decoration: none;
  color : inherit;
  background: rgba(161,208,231,0.9);
}

.flowing span:nth-of-type(1){
  display: block;
  height: 1rem;
  
  overflow: hidden;
	animation: flowing-anim 3s forwards linear;
}

.flowing span:nth-of-type(2){
  display: block;
  height: 1rem;
  width: 0;
  overflow: hidden;
	animation: flowing-anim 3s forwards linear;
  animation-delay: 2s;
}

.flowing span:nth-of-type(3){
  display: block;
  height: 1rem;
  width: 0;
  overflow: hidden;
	animation: flowing-anim 3s forwards linear;
  animation-delay: 4s;
}

@keyframes flowing-anim {
 0%{
	 width: 0%;
   }
100%{
	 width: 100%;
   }
}



.dialogue{
  background: rgba(161,208,231,0.9);
  width: 90vw;
  height: 10vw;
  position: absolute;
  top: 33vw;
  left: 0.5vw
}

.parent{
  position: absolute;
  top: 13vw;
}

.choice{
  background: rgba(161,208,231,0.9);
  width: 30vw;
  height: 3vw;
  margin-bottom: 1vw;
}

.son{
  background: rgba(161,208,231,0);
  border: 0;
  text-align: center;
  width: 30vw;
  height: 3vw;
}

.hide{
  display: none
}

.func{
  display: block;
  background: rgba(161,208,231,0.9);
  width: 6vw;
  height: 10vw;
  position: absolute;
  left: 93vw;
  top: 33vw;
}

<% if @game.flag == 3 %>
.curtain{
  animation-name:transInAnime;
  animation-fill-mode:forwards;
  animation-duration:1.5s;
  }

  @keyframes transInAnime{
    0% {width:0;}

  60% {width:100vw;
       opacity:1;}

  70% {opacity:0;
      width:100vw;
      height:45vw;
      display:none;}
  
  100% {width:0vw;
        height:0vw;
        opacity:0;}
}


.trans{
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 45vw;
  background-color: black;
  z-index: 0;
}

<% end %>
.savelist{
  background: rgba(255,255,255,0.9);
  width: 100vw;
  height: 45vw;
  position: absolute;
  top: 0vw;
  left: 0vw;
  z-index: 10;
}

.fade{
  animation-name:fadeInAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }

  @keyframes fadeInAnime{
    0% {opacity:0;}

  100%{opacity:1;}
}

#back{
  position: absolute;
  left: 90vw;
  top: 3vw;
}

.saveboxarea{
  background: red;
  width: 80vw;
  height: 30vw;
  position: absolute;
  top: 10vw;
  left: 10vw;
  display: flex;
  flex-wrap: wrap;
}

.savebox{
  width: 35vw;
  height: 8vw;
  background: white;
  margin: 1vw;
}

.chara{
  width: 70vw;
  height: 30vw;
  position: absolute;
  left: 15vw;
  top: 2vw;
}

.speaker{
  background: rgba(161,208,231,0.9);
  width: 10vw;
  position: absolute;
  top: 30vw;
  left: 0.5vw
}

</style>
<% if @game.next.presence %>
  <% next_id = @game.next %>
<% else %>
  <% next_id = @game.id + 1 %>
<% end %>

<% if @game.flag == 6 %>
 <h1>Thanks for playing</h1>
 <% request.url =~ %r|/games/| %>
 <a href = "<%= $` %>">タイトルへ戻る</a>
<% else %>

<div class = "window">
  <div class = "func">
    <p onclick="buttClick()">SAVE</p>
    <%= audio_tag('sound.mp3', id: 'btn_audio') %>
    <p onclick="buttonClick10()">STATUS</p>
    <div class = "hide status">
      <%= @udeda.rate %>
    </div>
  </div>

  <% if @game.chra == 1 %>
  <div class = "chara", style = 'text-align: center;' >
    <%= image_tag 'ueda1.png', style: 'height: 43vw;'  %>
  </div>
<% elsif @game.chra == 2 %>
  <div class = "chara", style = 'text-align: right;' >
    <%= image_tag 'ueda3.png', style: 'height: 43vw;' %>
  </div>
<% else %>
<% end %>

<div class = "savelist hide">
   <div id = "back" onclick="button8Click()" >
    戻る
    <%= audio_tag('sound2.mp3', id: 'btn_audio2') %>
   </div>
   <div class = "saveboxarea">
    <% @sas.each.with_index(1) do |s, i| %>
        <%= form_with url:keep_path,method: :patch, local:true do |f| %>
          <%= f.hidden_field :rate, value: @udeda.rate %>
          <% %r|/games/| =~ request.url %>
          <%= f.hidden_field :prog, value: $' %>
          <%= f.hidden_field :udeda_id, value: @udeda.id %>
          <%= f.hidden_field :save_id, value: s.id %>
          <%  savetime = s.updated_at + 9*60*60 %>
          <%= f.submit "DATA#{i}\n 好感度 #{s.rate}\n#{savetime.strftime('%Y/%m/%d %H:%M')}",class: "savebox" %>
        <% end %>
    <% end %>
  </div>
</div>

<% case @game.speaker %>
  <% when "1" then %>
    <div class = "speaker">
      ウエダカズキ
    </div>
  <% when "2" then %>
    <div class = "speaker">
      <%= @udeda.name %>
    </div>
  <% when "0" then %>
  <% else %>
    <div class = "speaker">
      <%= @game.speaker %>
    </div>
<% end %>


<% if @game.flag == 1 %>
<div class= "dialogue" onclick="buttonClick()"> 
<div class = "flowing">
<%= simple_format(@game.body) %>
</div>
</div>
<% elsif @game.flag == 4 && @udeda.rate > 1 %>
  <% %r|/games/| =~ request.url %>
  <a href = "<%= $` %>/games/58" class="dialogue">
  <div class = "flowing" >
    <%= simple_format(@game.body) %>
  </div>
  </a>
<% elsif @game.flag == 5 %>
  <%= audio_tag("kokuhaku#{@game.id}.mp3", id: 'btn_audio3') %>
  <% %r|/games/| =~ request.url %>
  <div class = "dialogue beforebox" onclick="button9Click()">
    <div class = "flowing" >
    <% if @game.id == 67 %>
      <p><span>やがて彼は口を開いて囁いた</span></p>
    <% else %>
      <p><span>彼は続ける</span></p>
    <% end %>
    </div>
  </div>
  <a href = "<%= $` %>/games/<%= next_id %>" class="dialogue afterbox hide">
    <div class = "flowing" >
    <% if /username/ ===  @game.body%>
    <% @username_text = @game.body.gsub(/username/,@udeda.name) %>
    <%= simple_format(@username_text) %>
   <% else %>
     <%= simple_format(@game.body) %>
   <% end %>
    </div>
  </a> 
<% else %>
<% %r|/games/| =~ request.url %>
<a href = "<%= $` %>/games/<%= next_id %>" class="dialogue">
<div class = "flowing">
  <% if /username/ ===  @game.body%>
   <% @username_text = @game.body.gsub(/username/,@udeda.name) %>
   <%= simple_format(@username_text) %>
  <% else %>
    <%= simple_format(@game.body) %>
  <% end %>
</div>
</a>
<% end %>

<% if @game.flag == 1 %>
  <div class = "parent hide">
  <% @chs.where(game_id: @game.id).each do |ch|%>
    <div class= "choice">
    <%= form_with model: @game, url: [@udeda, @game] ,local:true do |f| %>
      <% rate = @udeda.rate %>
      <%= f.hidden_field :ch_id, value: ch.id %>
      <% if ch.integrity == "T" %>
       <% rate += 1 %> 
      <% end %>
      <%= f.fields_for :udeda do |j| %>
        <%= j.hidden_field :rate, value: rate %>
      <% end %>
        <%= f.submit ch.body, class: "son" %>
    <% end %>
    </div>
  <% end %>
  </div>
<% end %>

</div>
<div class = "trans curtain">
</div>
<% end %>
<script>


function buttonClick(){
  let elements = document.getElementsByClassName("parent");
  elements[0].classList.remove("hide");
}

function buttoClick(){
  let elements = document.getElementsByClassName("func");
  elements[0].classList.toggle("hide");
}

function buttClick(){
  let elements = document.getElementsByClassName("savelist");
  document.getElementById('btn_audio').currentTime = 0; //連続クリックに対応
  document.getElementById('btn_audio').play(); //クリックしたら音を再生
  elements[0].classList.toggle("hide");
  elements[0].classList.toggle("fade");
}

function button8Click(){
  let elements = document.getElementsByClassName("savelist");
  document.getElementById('btn_audio2').currentTime = 0; //連続クリックに対応
  document.getElementById('btn_audio2').play(); //クリックしたら音を再生
  elements[0].classList.add("hide");
  elements[0].classList.remove("fade");
}

function button9Click(){
  let elements = document.getElementsByClassName("afterbox");
  document.getElementById('btn_audio3').currentTime = 0; //連続クリックに対応
  document.getElementById('btn_audio3').play(); //クリックしたら音を再生
  elements[0].classList.remove("hide");
  
}

function buttonClick10(){
  let elements = document.getElementsByClassName("status");
  document.getElementById('btn_audio').currentTime = 0; //連続クリックに対応
  document.getElementById('btn_audio').play(); //クリックしたら音を再生
  elements[0].classList.toggle("hide");
  elements[0].classList.toggle("fade");
}
</script>
