<p id="alert"><%= alert %></p>
<p>ユーザー登録</p>
<%= form_with model: @udeda,local:true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>
    <%= f.hidden_field :rate, value: 0 %>
    <%= f.submit "プレイヤー登録する" %>
<% end %>

<p>ユーザー検索</p>
<%= form_with url: serch_url do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>
    <%= f.submit "プレイヤー検索する" %>
<% end %>